body{
    background: #333;
    color: #fff;
}

.navbar{
    border-bottom: #17a2b8 3px solid; 
    opacity: 0.8;
}

/******************* home section begins **********************/
#home-section{
    background: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}



#home-section .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0,0,0, 0.7);
}

#home-section .home-inner{
    padding-top: 150px;
}

#home-section .card-form{
    opacity:  0.8;
}

#home-section .fas{
    color: #17a2b8;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}
/******************* Explore section begins **********************/
#explore-section .fas{
    color: #fff;
    background: #333;
    padding: 5px;
    border-radius: 5px;     
}

/******************* create section begins **********************/


    #create-section .fas{
        color: #17a2b8;
        background: #fff;
        padding: 5px;
        border-radius: 5px;
    }

    /******************* create section begins **********************/


    #share-section .fas{
        color: #fff;
        background: #333;
        padding: 5px;
        border-radius: 5px;
    }